@charset "UTF-8";

html {
    font-size: 100%;
}

body {
  color: #333;
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  opacity: 0.7;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}
.inner {
    max-width: 800px;
    margin: 0 auto;
}

.section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

#header {
     margin-top: 60px;
}

#header .site-title {
    width: 180px;
    line-height: 1px;
    margin-bottom: 15px;
}
#header .site-title a {
  display: block;
}
#mainvisual {
  max-width: 1200px;
  margin: 0 auto;
    margin-bottom: 60px;
}

#index {
    background-color: #F5F5F5;
    padding: 60px 60px;
    margin-bottom: 60px;
    text-align: center;
}

.index-inner {
    border: 1px solid #333;
    padding: 30px 30px;
}

#index .index-inner .index-list {
  display: table;
  margin: 0 auto;
}
.index-list li{
    margin-bottom: 20px;
}
.index-list li:last-child {
    margin-bottom: 0;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.list li {
    width: 49%;
    margin-bottom: 15px;
}
.list li img {
  vertical-align: bottom;
}

#detail {
    background-color: #F5F5F5;
    padding: 60px 60px;
    margin-bottom: 60px;
    text-align: center;
}

#detail .flex {
    display: flex;
}
#detail .flex dl {
text-align: left;
width: 30%;
}
#detail .flex dl dt {
    font-weight: bold;
}
#detail .flex dl dd {
    margin-bottom: 10px;
}
#detail .flex .text {
    width: 70%;
    padding-left: 40px;
    border-left: 1px solid #333;
    text-align: left;
}
#detail .flex .text p {
    margin-bottom: 20px; 
}
#detail .flex .text a {
    text-decoration: underline;
}


#footer {
     padding: 15px 0;
     font-size: 0.625rem;
        text-align: center;
    
}
@media screen and (max-width: 1024px) {
    .list {
        flex-direction: column;
    }
    .list li {
        width: 100%;
        text-align: center;
    }
    #detail .flex {
        flex-direction: column;
    }
    #detail .flex dl {
        width: 100%;
        margin-bottom: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid #333;
    }
    #detail .flex .text {
        width: 100%;
        padding-left: 0;
        border-left: none;
    }
     #header {
    padding: 0 10px;
  }
  #index {
    padding: 40px 20px;
  }
    #detail {
        padding: 40px 20px;
    }

}